
extends layout

block content
	div.container-fluid
		div.row
			main.col-sm-9.ml-sm-auto.col-md-10.pt-3
				section.row.text-center.placeholders
					nav.navbar.navbar-default.navbar-fixed-top
						.container
							.navbar-header
								.navbar-brand
									h4 GANA
							ul.nav.navbar-nav.navbar-right
								li
									.navbar-btn#btn-home.btn.btn-default
										a(href="/home")
											| Home
									.navbar-btn#btn-home.btn.btn-default
										a(href="/addplaylist")
											| My PlayList
									.navbar-btn#search-home.btn.btn-default
										a(href="/search")
											| Search songs
									.navbar-btn#btn-logout.btn.btn-default
										| Sign Out
				br
				br
				br
				if recentPlaylist
					if recentPlaylist.length>0
						h4 Recent released Playlist
						br
						div.table-responsive
							table.table.table-striped
								thead
									tr
										th PlayList Name
										th Type
								tbody
									each item in recentPlaylist
										tr
											td
												a(href= '/plays?key=pid&val=' + item.pid)= item.ptitle 
											td=item.ptype
				
					if ABRecent
						if ABRecent.length>0
							h4 Recent released Albums
							br
							div.table-responsive
								table.table.table-striped
									thead
										tr
											th Album Name
									tbody
										each item in ABRecent
											tr
												td
													a(href= '/plays?key=abid&val=' + item.abid)= item.abtitle
					if finalPTRes 
						if finalPTRes.length > 0
							br
							div.nav
								h4 Recently Played
								br
							br
							div.table-responsive
								table.table.table-striped
									thead
										tr
											th Song Name
											th Artist Name
											th Duration
											th 
									tbody
										each item in finalPTRes
											tr
												td
													a(href= '/plays?key=tid&val=' + item.sid)= item.stitle
												td= item.aname
												td= item.sduration

					if finalSimRel 
						if finalSimRel.length > 0
							br
							div.nav
								h4 Similar Songs
								br
							br
							div.table-responsive
								table.table.table-striped
									thead
										tr
											th Song Name
											th Artist Name
											th Duration
											th 
									tbody
										each item in finalSimRel
											tr
												td
													a(href= '/plays?key=tid&val=' + item.sid)= item.stitle
												td= item.aname
												td= item.sduration
					

	include modals/alert
	include modals/confirm

block scripts
	script(src='/vendor/jquery-2.2.3.min.js')
	script(src='/vendor/jquery.form.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/home.js')
	script(src='/js/controllers/homeController.js')
