
extends layout

block content
	div.container-fluid
		div.row
			main.col-sm-9.ml-sm-auto.col-md-10.pt-3
				section.row.text-center.placeholders
					nav.navbar.navbar-default.navbar-fixed-top
						.container
							.navbar-header
								.navbar-brand #{"Your PlayList"}
							ul.nav.navbar-nav.navbar-right
								li
									.navbar-btn#btn-home.btn.btn-default
										a(href="/home")
											| PlayList
									.navbar-btn#btn-home.btn.btn-default
										a(href="/home")
											| Albums
									.navbar-btn#search-home.btn.btn-default
										a(href="/search")
											| Search songs
									.navbar-btn#btn-logout.btn.btn-default
										| Sign Out
				br
				br
				br
				h4 Search for an Artist, Song, Album or Playlist
				
				input.form-control#search-tf(type='text', name='search', value='',placeholder="Search Tracks")
				button(type='button')#search-btn1.btn.btn-default search
				br
				br
				br
				div#searchres
				div#artist
				//!{songData}
				//br
				//xef="/search/artist?key="+searchkey) Artist]	
				//!{artistData}
				br
				//#[a(href="/search/track?key="+searchkey) Track]
				//!{trackData}
				//br
				//#[a(href="/search/albums?key="+searchkey) Albums]
				//!{albumData}
				//br
				//#[a(href="/search/playlist?key="+searchkey) Play List]
				//!{playListData}
				
				//div.table-responsive
					table.table.table-striped
						thead
							tr
								th Song Name
								th Artist Name
								th Album Name
						tbody
							!{songData}
							each item in !{songData}
								tr
									td= item.stitle
									td
										a(href= '/artist?artistName=' + item.aname)= item.aname
									td= item.sduration

	include modals/alert
	include modals/confirm

block scripts
	script(src='/vendor/jquery-2.2.3.min.js')
	script(src='/vendor/jquery.form.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/search.js')
